# Maven/Java
/target/
*.log
*.class
*.iml
.idea/
.DS_Store

# Archivos generados
classpath.txt

# Playwright Java
# Playwright Java
playwright-report/
traces/
screenshots/

# OS
Thumbs.db

# VSCode
.vscode/